<h1 class="mt-4">Authorize App</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-3">Room1 <%= room1 %></p>
<p class="lead mb-3">Room2 <%= room2 %></p>

<p class="mb-3">Get the Acces Token to get the Protected Data</p>

<a href="<%= callback_url %>" class="btn btn-warning">Accept</a>
<a href="/users/logout" class="btn btn-secondary">Decline</a>
